/*=================================
	snake game info
=================================*/
.snake-info {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 200px;
}

.snake-info__title {
	margin: 0;
	margin-bottom: 40px;
	padding: 0;

	color: var(--color-neutral--dark);
}

.snake-info__paragraph {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-shrink: 0;

	margin: 0;
	margin-bottom: 40px;

	color: var(--color-neutral);
	text-align: center;
}

.snake-info__info-key {
	margin: 5px 0;
}

.snake-info__phrase {
	max-width: 140px;
}
