{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "loose": true
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
  	"@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }],
    ["@babel/plugin-transform-async-to-generator", { "module": "bluebird", "method": "coroutine" }],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "static": "./public/static",
        "actions": "./src/actions",
        "components": "./src/components",
        "constants": "./src/constants",
        "libs": "./src/libs",
        "reducers": "./src/reducers",
        "sagas": "./src/sagas",
        "selectors": "./src/selectors",
        "store": "./src/store"
      }
    }],
    ["transform-imports", {
      "lodash": {
        "transform": "lodash/${member}",
        "preventFullImport": true
      }
    }]
  ]
}
