.game-button {
	flex-shrink: 0;

	padding: 10px 30px;

	color: var(--color-yellow--light);
	font-weight: 700;
	text-transform: uppercase;

	background-color: var(--color-neutral);
	border: none;
	border-radius: 5px;

	user-select: none;
	cursor: pointer;

	transition: color 0.1s ease, background-color 0.1s ease;
}

.game-button:hover {
	color: var(--color-success);
	background-color: var(--color-neutral--dark);
}

.game-button:active {
	color: var(--color-success--darken);
	background-color: var(--color-main--darkest);
}

.game-button:focus {
	outline: none;
	text-decoration: underline;
}
