/*=================================
	tetris game settings
=================================*/
.tetris-stats__settings {
	margin-bottom: 40px;
}

.tetris-stats__speed,
.tetris-stats__score {
	display: flex;
	align-items: center;
	justify-content: space-around;

	margin-bottom: 20px;
}

.tetris-stats__speed-value,
.tetris-stats__score-value {
	padding: 0;
	margin: 0;

	color: var(--color-neutral);
	line-height: 26px;
	text-align: center;
}

.tetris-stats__speed-btn {
	position: relative;
	display: block;
	width: 26px;
	height: 26px;
	box-sizing: border-box;
	margin: 0 6px;

	background-color: var(--color-neutral);
	border: none;
	border: 2px solid var(--color-neutral--lighten);
	border-radius: 50%;

	cursor: pointer;
}

.tetris-stats__speed-btn:hover {
	background-color: var(--color-neutral--dark);
}
.tetris-stats__speed-btn:focus {
	outline: none;
	border: 2px solid var(--color-orange);
	box-shadow: 0 0 5px -1px var(--color-neutral--darkest);
}
.tetris-stats__speed-btn:active {
	border-color: var(--color-neutral);
	background-color: var(--color-neutral--dark);
}

.tetris-stats__speed-btn--inc::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 10px;
	display: block;

	width: 2px;
	height: 10px;

	background-color: var(--color-orange--lighten);
}

.tetris-stats__speed-btn--inc::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 6px;
	display: block;

	width: 10px;
	height: 2px;

	background-color: var(--color-orange--light);
}

.tetris-stats__speed-btn--dec::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 6px;
	display: block;

	width: 10px;
	height: 2px;

	background-color: var(--color-orange--light);
}

.tetris-stats__speed-btn[disabled] {
	opacity: 0.6;
	cursor: default;
}
.tetris-stats__speed-btn[disabled]:hover {
	background-color: var(--color-neutral);
}
